name: gosec
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  security-events: write

jobs:
  gosec:
    name: security scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Run Gosec Security Scanner
        run: |
          go install github.com/securego/gosec/v2/cmd/gosec@latest
          gosec -no-fail -fmt=json -out=results.json -exclude-generated ./src/pipeleak/... || true
          gosec -no-fail -exclude-generated ./src/pipeleak/... || true
        working-directory: ./
      - name: Upload results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: gosec-results
          path: results.json
